.App-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(blue, lightblue 80%, green 99%);
}

.App-link {
  color: #61dafb;
  list-style-type: none;
}

.image-container {
  height: 80px;
}

.image-container > img {
  margin-left: 10px;
  min-height: 55px;
  max-height: 80px;
  height: auto;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Nav-link {
  margin: 15px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
