.link-back {
  display: flex;
  text-decoration: underline;
  margin-left: 20px;
}

.team-list {
  color: blue;
  font-weight: bold;
  list-style-type: none;
}

.team-list > li > a {
  color: blue;
}

.team-list > li > a:visited {
  color: blue;
}
